<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Enabling 2 HTML</title>

		<script src="../common/js/xml2json.js"></script>
		<script src="../common/js/dli_activity.js"></script>
		<script src="../common/js/dli_audio.js"></script>
		<script src="../common/js/AC_OETags.js"></script>

		<link type="text/css" href="../common/css/bootstrap.css" rel="stylesheet" />
		<link type="text/css" href="../common/css/smoothness/jquery-ui-1.8.20.custom.css" rel="stylesheet" />
		<script type="text/javascript" src="../common/js/jquery-1.7.2.min.js"></script>
		<script type="text/javascript" src="../common/js/jquery-ui-1.8.20.custom.min.js"></script>
		<script type="text/javascript" src="../common/js/jquery.ui.touch-punch.js"></script>

		<script src="../common/js/dli_util.js"></script>

		<script src="Enabling_02.js"></script>

	</head>
	<body >
		<div id="flashAudioPlayerDiv"></div>
		<div id="htmlAudioPlayerDiv"></div>
		<div id="embeddedAudioPlayerDiv"></div>

		<h3 class="activity_hd">Enabling 02</h3>
		<div class="activity_description">
			Click on a Play button.
			Listen to the phrase and select the corresponding
			word. Drag the word to its corresponding image.
		</div>

		<div id="main">
			<div id="btn_container">
				<div id="buttonGuard" ></div>
	
				<div id="playBtn1">
					<a href="javascript:;" onMouseOut="MM_swapImage('playBtn_s1','','../common/Library/images/playBtn_s1.png',1)"
					onMouseDown="MM_swapImage('playBtn_s1','','../common/Library/images/playBtn_s3.png',1);playAudio(1);"
					onMouseUp="MM_swapImage('playBtn_s1','','../common/Library/images/playBtn_s2.png',1)"
					onMouseOver="MM_swapImage('playBtn_s1','','../common/Library/images/playBtn_s2.png',1)" > <img  id="playBtn_s1" src="../common/Library/images/playBtn_s1.png" border="0"> </a>
				</div>

				<div id="playBtn2" class="ui-state-disabled">
					<a href="javascript:;" onMouseOut="MM_swapImage('playBtn_s2','','../common/Library/images/playBtn_s1.png',1)"
					onMouseDown="MM_swapImage('playBtn_s2','','../common/Library/images/playBtn_s3.png',1);playAudio(2);"
					onMouseUp="MM_swapImage('playBtn_s2','','../common/Library/images/playBtn_s2.png',1)"
					onMouseOver="MM_swapImage('playBtn_s2','','../common/Library/images/playBtn_s2.png',1)" > <img  id="playBtn_s2" src="../common/Library/images/playBtn_s1.png" border="0"> </a>
				</div>

				<div id="playBtn3" class="ui-state-disabled">
					<a href="javascript:;" onMouseOut="MM_swapImage('playBtn_s3','','../common/Library/images/playBtn_s1.png',1)"
					onMouseDown="MM_swapImage('playBtn_s3','','../common/Library/images/playBtn_s3.png',1);playAudio(3);"
					onMouseUp="MM_swapImage('playBtn_s3','','../common/Library/images/playBtn_s2.png',1)"
					onMouseOver="MM_swapImage('playBtn_s3','','../common/Library/images/playBtn_s2.png',1)" > <img  id="playBtn_s3" src="../common/Library/images/playBtn_s1.png" border="0"> </a>
				</div>
			</div>

			<div id="container_container">
				<div id="container_1" class="roundCorners" >
					<img id="img_1" class="roundCorners" />
					<img id="img_2" class="roundCorners" />
					<img id="img_3" class="roundCorners" />

					<div id="dropTarget_1" class="dropTarget roundCorners" >
						<span id="dropTargetText_1" class="dragBubbleText">?</span>
					</div>

					<div id="dropTarget_2" class="dropTarget roundCorners" >
						<span id="dropTargetText_2" class="dragBubbleText">?</span>
					</div>

					<div id="dropTarget_3" class="dropTarget roundCorners" >
						<span id="dropTargetText_3" class="dragBubbleText">?</span>
					</div>
				</div>
				<div id="container_2" class="roundCorners">
					<div id="container_2_layer_1">
						<div id="dragTarget_1" class="roundCorners"></div>
						<div id="dragTarget_2" class="roundCorners"></div>
						<div id="dragTarget_3" class="roundCorners"></div>

						<div id="dragTarget_4" class="roundCorners"></div>
						<div id="dragTarget_5" class="roundCorners"></div>
						<div id="dragTarget_6" class="roundCorners"></div>

					</div>
					<div id="container_2_layer_2">
						<div id="dragBubble_1" class="roundCorners">
							<span id="dragBubbleText_1" class="dragBubbleText">one</span>
						</div>

						<div id="dragBubble_2" class="roundCorners">
							<span id="dragBubbleText_2" class="dragBubbleText">two</span>
						</div>

						<div id="dragBubble_3" class="roundCorners">
							<span id="dragBubbleText_3" class="dragBubbleText">three</span>
						</div>

						<div id="dragBubble_4" class="roundCorners">
							<span id="dragBubbleText_4" class="dragBubbleText">four</span>
						</div>

						<div id="dragBubble_5" class="roundCorners">
							<span id="dragBubbleText_5" class="dragBubbleText">five</span>
						</div>

						<div id="dragBubble_6" class="roundCorners">
							<span id="dragBubbleText_6" class="dragBubbleText">six</span>
						</div>
					</div>
				</div>
			</div>

			<div id="feedback" >
				<h2 id="feedbackHeader">Set completed</h2>
				<p id="feedbackText">
					Set completed text
				</p>
				<button id="feedbackBtn" onclick="{closeFeedback();}">
					Ok
				</button>
			</div>

			<div id="container_setDiv" class="roundCorners btn-group noSelect">
				<div id="setDiv" class="roundCorners">
					<div id="setTitle" class="btn_set bootstrapLabel noSelect">
						SET:
					</div>
					<span id="setText" class="bootstrapLabel btn_set_value noSelect">1/3</span>
				</div>

				<div class="btn-group" id="id_prev_next_div">
					<button onclick="{prevClicked();}" title="prev" id="set_prev" class="btn btn_prev">&lt; Prev</button>
					<button onclick="{nextClicked();}" title="next" id="set_next" class="btn btn_next">Next &gt;</button>
				</div>
			</div>

			<div id="clickGuard" ></div>
			
			<div id="nextBtnClickGuard"  style="display:none;">
			<div id="prevBtnClickGuard"  style="display:none;">
				
		</div>
	</body>
</html>
