<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<script type="text/javascript" src="../common/js/firebug-lite-1_2.js"></script>
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<title>Enabling 13 HTML</title>

<!-- CSS -->
<link href="../common/css/bootstrap.css" rel="stylesheet">
<link href="../common/css/dlilearn_custom.css" rel="stylesheet">
<link href="../common/css/dlilearn_activities.css" rel="stylesheet">
<script src="../common/js/AC_OETags.js"></script>
<script src="../common/js/xml2json.js"></script>
<script src="../common/js/dli_activity.js"></script>
<link type="text/css" href="../common/css/smoothness/jquery-ui-1.8.20.custom.css" rel="stylesheet" />
<script type="text/javascript" src="../common/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="../common/js/jquery-ui-1.8.20.custom.min.js"></script>
<script type="text/javascript" src="../common/js/jquery.ui.touch-punch.js"></script>
<script src="../common/js/dli_util.js"></script>
<script src="../common/js/dli_audio.js"></script>
<script src="../common/js/dli_video_new.js"></script>
<script src="Enabling_13.js"></script>
</head>
<body>
<noscript>
Activity cannot load. No Javascript support detected.
</noscript>
<div id="flashAudioPlayerDiv"></div>
<div id="htmlAudioPlayerDiv"></div>
<div id="embeddedAudioPlayerDiv"></div>
<h3 class="activity_hd">Enabling 13</h3>
<div class="activity_description"> Click the play button in the video frame on the left to hear the beginning of a conversation. Select the play buttons next to the text below to hear possible responses. Click the "submit" button next to the best response. </div>
<div id="main">
  <div id="videoContainer1"  class="concave">
    <div id="playBtnVid1"> <a href="javascript:;" onMouseOut="MM_swapImage('playBtn_s1','','../common/Library/images/playBtn_s1.png',1)" 
						onMouseDown="MM_swapImage('playBtn_s1','','../common/Library/images/playBtn_s3.png',1);playVideo(1);"
						onMouseUp="MM_swapImage('playBtn_s1','','../common/Library/images/playBtn_s2.png',1)" 
				        onMouseOver="MM_swapImage('playBtn_s1','','../common/Library/images/playBtn_s2.png',1)" > <img  class="playBtn" src="../common/Library/images/playBtn_s1.png" border="0"> </a> </div>
  </div>
  <div id="videoContainer2"  class="concave">
    <div id="playBtnVid2"> <a href="javascript:;" onMouseOut="MM_swapImage('playBtn_s1','','../common/Library/images/playBtn_s1.png',1)" 
						onMouseDown="MM_swapImage('playBtn_s1','','../common/Library/images/playBtn_s3.png',1);playVideo(1);"
						onMouseUp="MM_swapImage('playBtn_s1','','../common/Library/images/playBtn_s2.png',1)" 
				        onMouseOver="MM_swapImage('playBtn_s1','','../common/Library/images/playBtn_s2.png',1)" > <img  class="playBtn" src="../common/Library/images/playBtn_s1.png" border="0"> </a> </div>
  </div>
  <div id="choiceText" class="roundCorners">
    <div id="choice0" class="dragContainer">
      <div id="dragBubble0" class="vidPlayBtnDiv"><span id="playBtn0"><img  class="draggableBtn" src="../common/img/btn_play_sm_off.png" border="0" onmouseover="turn_on(this)" onmouseout="turn_off(this)">
        <input type="hidden" id="hiddenText0" value="" />
        </span></div>
      <div id="id_text0" class="textOn"></div>
      <div id="submitBtnDiv0" class="css_submitbtn">
        <button id="submitBtn0" onclick="submitAns(0)" class="btn">SUBMIT</button>
      </div>
    </div>
    <div id="choice1" class="dragContainer">
      <div id="dragBubble1" class="vidPlayBtnDiv"><span id="playBtn1"><img  class="draggableBtn" src="../common/img/btn_play_sm_off.png" border="0" onmouseover="turn_on(this)" onmouseout="turn_off(this)">
        <input type="hidden" id="hiddenText1" value="" />
        </span></div>
      <div id="id_text1" class="textOn"></div>
      <div id="submitBtnDiv1" class="css_submitbtn">
        <button id="submitBtn1" onclick="submitAns(1)" class="btn">SUBMIT</button>
      </div>
    </div>
    <div id="choice2" class="dragContainer">
      <div id="dragBubble2" class="vidPlayBtnDiv"><span id="playBtn2"><img  class="draggableBtn" src="../common/img/btn_play_sm_off.png" border="0" onmouseover="turn_on(this)" onmouseout="turn_off(this)">
        <input type="hidden" id="hiddenText2" value="" />
        </span></div>
      <div id="id_text2" class="textOn"></div>
      <div id="submitBtnDiv2" class="css_submitbtn">
        <button id="submitBtn2" onclick="submitAns(2)" class="btn">SUBMIT</button>
      </div>
    </div>
  </div>
  <div id="feedback" >
    <h2 id="feedbackHeader">Set completed</h2>
    <p id="feedbackText">Set completed text</p>
    <button id="feedbackBtn" onclick="{closeFeedback();}" class="btn">OK</button>
  </div>
  <div id="fb_background"></div>
  <div id="container_setDiv" class="roundCorners btn-group noSelect">
    <div class="roundCorners" id="setDiv">
      <div class="bootstrapLabel btn_set noSelect" id="setTitle">SET:</div>
      <span class="bootstrapLabel btn_set_value noSelect" id="setText">1/5</span> </div>
    <div id="id_prev_next_div" class="btn-group">
      <button class="btn btn_prev" id="set_prev" title="prev" onclick="{prevClicked();}">&lt; Prev</button>
      <button class="btn btn_next" id="set_next" title="next" onclick="{nextClicked();}">Next &gt;</button>
    </div>
  </div>
</div>
<div id="clickGuard"></div>
</body>
</html>