@font-face {
    font-family: 'FuturaMedium';
    src:url('../../../css/futura-medium-webfont.eot');
	src: url('../../../css/futura-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../../css/futura-medium-webfont.woff') format('woff'),
         url('../../../css/futura-medium-webfont.ttf') format('truetype'),
         url('../../../css/futura-medium-webfont.svg#FuturaMedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'FuturaBold';
    src: url('../../../css/futura_bold-webfont.eot');
    src: url('../../../css/futura_bold-webfont.eot?#iefix') format('eot'),
         url('../../../css/futura_bold-webfont.woff') format('woff'),
         url('../../../css/futura_bold-webfont.ttf') format('truetype'),
         url('../../../css/futura_bold-webfont.svg#webfontrIGithyc') format('svg');
    font-weight: normal;
    font-style: normal;

}

.activity_description {
    cursor: default;
    display: block;
    font-family: inherit;
    font-size: 12px;
    letter-spacing: 2px;
    margin-bottom: 20px;
    margin-left: 8px;
    margin-top: -20px;
    width: 870px;
}
.activity_hd {
    color: grey;
    cursor: default;
    display: block;
    font-family: inherit;
    font-size: 22px;
    margin-left: 7px;
    margin-top: 1px;
}
html body {
    background-color: #F5F5F5;
    color: #444444;
    font-family: 'FuturaMedium';
    letter-spacing: 2px;
    line-height: 20px;
    -moz-user-select: none;
    -webkit-user-select: none;
	padding-left: 10px;
}

#main{
	font-family: 'FuturaMedium';
	position: relative;
}
#videoContainer1{
    background-color: grey;
    height: 240px;
    left: 5px;
    position: absolute;
    width: 320px;
	padding: 0 !important;
}
#videoContainer2{
    background-color: grey;
    height: 240px;
    left: 567px;
    position: absolute;
    width: 320px;
	padding: 0 !important;
}

.videoScreen{
    width: 320px;
    height:240px;
    margin: 0px 0px 0px 0px;
}


.displayNone{
	display: none;
}


#VideoCaption{
	width: 320px;
    height: 240px;
}

.itemCompleted{
	border: 3px solid darkGrey;
	background-color: darkGrey;
}

.itemNotCompleted{
	border: 3px solid lightGrey;
	background-color: lightGrey;
}
#videoTag {
	width: 320px;
    height: 240px;
}

.playBtn {
    position: absolute;	
}

#playBtnVid1, #playBtnVid2{
    top: 200px;	
    position: absolute;
    left: 0px;
    cursor: pointer;
}
.vidPlayBtnDiv{
	/*margin-left:-20px;*/
	margin-top: 10px;
}
#playBtn0, #playBtn1, #playBtn2{
	cursor: pointer;
	width: 20px;
	height: 20px;
	
}

#choiceText{
	background-color: transparent;
	position: absolute;
	top: 250px;
	font-size: 12px;	
	width:660px;
	height:200px;
}
.vidPlayBtnDiv {
	position: relative;
	float: left;
	margin-top: 10px;
}
.dragContainer{
	background: url("../../common/img/bg_dropbubble_50.png") repeat-x scroll center bottom #F5F5F5;
    border: 1px solid #BDBDBD;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 2px 4px #BDBDBD;
    height: 60px;
    margin: 5px;
    width: 645px;
}
#choice0{
	margin-top: 9px;
}

.textOn{
	display: inline;
	margin-left: 5px;
	width: 520px;
	color: #666666;
	position: relative;
	float: left;
	
}

#id_text0, #id_text1, #id_text2 {
	font-size: 12pt;
	padding-top: 20px;
}
.css_submitbtn {
	position: relative;
	float: left;
	padding-top: 15px;
	margin-left: -15px;
	width:60px;

}
#submitBtn0, #submitBtn1, #submitBtn2 {
    display: none;
}

#feedback {
    -moz-user-select: none;
    background: url("../../common/img/bg_dropbubble_50.png") repeat-x scroll center bottom #F5F5F5;
    border: 1px solid #BDBDBD;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 2px 4px #BDBDBD;
    display: block;
    left: 670px;
    max-height: 190px;
    min-height: 190px;
    padding: 10px;
    position: absolute;
    top: 259px;
    width: 217px;
    z-index: 100;
}
#fb_background {
    -moz-user-select: none;
    background: url("../../common/img/bg_dropbubble_50.png") repeat-x scroll center bottom #F5F5F5;
    border: 1px solid #BDBDBD;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 2px 4px #BDBDBD;
    display: block;
    left: 670px;
    max-height: 190px;
    min-height: 190px;
    padding: 10px;
    position: absolute;
    top: 259px;
    width: 217px;
}
#feedbackBtn {
    bottom: 10px;
    position: absolute;
    right: 10px;
}
#feedbackHeader {
    font-size: 20px;
    letter-spacing: 2px;
    margin-top: -10px;
}

#clickGuard {
	display: none;
	opacity: 0.75;
	background-color: #f7f7f7;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 10;
}

.noSelect{
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */

  /* No support for these yet, use at own risk */
  -o-user-select: none;
  user-select: none;          
}
#setTitle {
    background-image: url("../../common/img/bg_btn_set.png") !important;
    border-bottom-left-radius: 4px;
    border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
    border-top-left-radius: 4px;
    float: left;
    font-size: 14px;
    margin-left: 0;
    padding-left: 10px;
    padding-top: 7px;
	color: #FFFFFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
#setText {
    border-radius: 0 4px 4px 0;
    bottom: auto;
    font-size: 14px;
    left: 0;
    padding-right: 7px;
    padding-top: 7px;
    position: relative;
    top: 0;
	/*height: 20px;*/
    /*width: 29px;*/
}
.btn_set {
    background-color: #999999;
    background-image: url("../../common/img/bg_btn_set.png") !important;
    background-position: center bottom !important;
    background-repeat: repeat-x !important;
    color: #FFFFFF;
    left: 3px;
    letter-spacing: 2px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.bootstrapLabel {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F5F5F5;
    background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
    border-image: none;
    border-radius: 0 0 0 0;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: default;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    margin-left: -1px;
    padding: 4px 12px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
}
#container_setDiv {
    background-color: transparent;
    cursor: default;
    height: 40px;
    left: 15px;
    margin: 10px;
    top: 460px;
    width: 870px;
}
#setDiv {
    background-color: transparent;
    cursor: default;
    height: 30px;
    left: 764px;
    position: relative;
    top: 5px;
    width: 115px;
    z-index: 0;
	border: none !important;
}
.roundCorners {
	border-radius: 3px 3px 3px 3px;
}
.pull-right {
	float: right;
}
