@font-face {
    font-family: 'FuturaMedium';
    src:url('../../../css/futura-medium-webfont.eot');
	src: url('../../../css/futura-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../../css/futura-medium-webfont.woff') format('woff'),
         url('../../../css/futura-medium-webfont.ttf') format('truetype'),
         url('../../../css/futura-medium-webfont.svg#FuturaMedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'FuturaBold';
    src: url('../../../css/futura_bold-webfont.eot');
    src: url('../../../css/futura_bold-webfont.eot?#iefix') format('eot'),
         url('../../../css/futura_bold-webfont.woff') format('woff'),
         url('../../../css/futura_bold-webfont.ttf') format('truetype'),
         url('../../../css/futura_bold-webfont.svg#webfontrIGithyc') format('svg');
    font-weight: normal;
    font-style: normal;

}

.activity_hd {
    color: #444444;
    font-family: inherit;
    font-size: 22px; 
    letter-spacing: 2px;
    text-shadow: 0px 1px 0 #FFFFFF;
}

h3 {
	font-size: 22px;
	font-weight: normal !important;
	padding-left: 5px !important;
}

.activity_description {
    cursor: default;
    display: block;
    font-family: inherit;
    font-size: 12px;
    letter-spacing: 2px;
    margin-bottom: 20px;
    margin-left: 8px;
    margin-top: -20px;
	width: 800px;
}
.activity_hd {
    color: grey;
    cursor: default;
    display: block;
    font-family: inherit;
    font-size: 22px;
    margin-left: 7px;
    margin-top: 1px;
}
html body {
    background-color: #F5F5F5;
    color: #444444;
    font-family: 'FuturaMedium';
    letter-spacing: 2px;
    line-height: 20px;
    -moz-user-select: none;
    -webkit-user-select: none;
	text-shadow: 0px 1px 0 #FFFFFF;
}

#mainContent
{
	height: 435px;
	padding-left: 17px;
	width: 890px;
}

.headerItem
{
	float: left;
	width: 145px;
	margin-left: 13px;
	margin-top: 5px;
	margin-bottom: -11px;
	line-height: 30px;
}

.tableRow
{
	height: 40px;
	float: left;
	padding-top: 3px;	
}

.rowItem
{
	float: left;
	width: 160px;
	color: rgb(56, 53, 53);
	margin-left: -2px;
	font-size: 12px;
	line-height: 29px;
}

.innerRowItem
{
	border: 1px solid #cccccc;
	padding-left: 13px;
	padding-top: 9px;
	height: 41px;
	width: 170px;
	border-left: none;
}

.innerTableTitle
{
	border-right: 1px solid #cccccc;
	padding-left: 0;
	padding-top: 3px;	
	width: 155px;
}S

.feedback_right
{
	display: block;
	background: url("../../common/img/bg_dropbubble_50.png") repeat-x scroll center bottom #F5F5F5;
	border: 1px solid #BDBDBD;
	border-radius: 3px 3px 3px 3px;
	box-shadow: 0 2px 4px #BDBDBD;
	display: block;
	left: 495px;
	max-height: 200px;
	min-height: 182px;
	padding: 20px;
	position: absolute;
	top: 234px;
	width: 312px;
	position: absolute;
	z-index: 100;	
}

#feedBackStatus
{
	float: left;
	margin-left: 15px;
	margin-top: 9px;
	font-size: 17px;
	display: none;
	background-color: white;
	border-radius: 10px;
	padding: 2px 10px;
	cursor: pointer;
}

.activityTitleArea
{
	margin-top: -10px;
	height: 50px;
	line-height: 31px;
}

#titles #title_en
{
float: left;
padding-top: 15px;
padding-left: 8px;
color: #666666;
font-size: 16px;
font-weight: bold;
}

#titles #title_tl
{
	float: right;
	padding-top: 15px;
	/*padding-right: 100px;*/
	padding-right: 25px;
	font-size: 23px;
}

#footer
{
	display:none;
	width: 577px;
	margin-top: 90px;
}

#footer #question
{
	padding-bottom: 15px;
	color: black;
	font-size: 16px;
}

#footer .answer
{
	font-family: sans-serif;
	font-size: 12px;
	padding-bottom: 6px;
	width: 330px;
	padding-top: 3px;
	padding-left: 7px;
}

input[type="radio"]
{
	margin-right: 8px;
	margin-top: 0px;	
}

#footerLeft
{
	border-radius: 10px 10px;
	width: 22px;
	float: left;
	margin-left: 13px;
	height: 185px;
	background-color: #8798B8;
}

#footerRight
{
	background: url("../../common/img/bg_dropbubble_50.png") repeat-x scroll center bottom #F5F5F5;
	border: 1px solid #BDBDBD;
	border-radius: 3px 3px 3px 3px;
	box-shadow: 0 2px 4px #BDBDBD;

	width: 469px;
	float: left;
	margin-left: -1px;
	height: 182px;
	padding-top: 20px;
	margin-top: 14px;
	padding-left: 20px;
}

.playBtn
{
	width: 32px;
	padding-right: 3px;
	margin-top: -4px;
}

.questionNumber
{
	padding-right: 7px;
	font-size: smaller;
	font-weight: bold;	
}

.selectedItemWrong
{
	border: 1px solid rgb(199, 28, 28);	
}

.selectedItemCorrect
{
	line-height: 24px;
	height: 37px;
	margin-bottom: -4px;	
	padding-top: 0px;
	background-color: #cdcdcd;
/*	border: 2px solid rgb(28, 35, 199);	*/
}

.selectedRowItem
{
	font-size: 14px;
	color: blue;
}

.table_headers {
	font-family: 'Didact Gothic', sans-serif;
	font-size:12px;
	letter-spacing:2px;
	
	/*margin-top: -12px;
	margin-bottom:15px;*/
	
	margin-bottom: 20px;
    margin-top: -8px;
}

#container_setDiv {
	background-color: transparent;
    border: 0 solid red;
    left: 635px;
    position: absolute;
    top: 450px;
    width: 280px;
}

.btn-group > .btn:first-child {
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
	margin-left: 0;
}
.btn-group > .btn:last-child, .btn-group > .dropdown-toggle {
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
}
.btn-group > .btn + .btn {
	margin-left: -1px;
}

#setDiv, #setDiv:hover {
	width: 280px;
}

#setText {
	bottom: 0 !important;
	left: -3px !important;
	right: 0 !important;
	top: 0 !important;
	float: left;
	border-radius: 0 3px 3px 0;
}
.roundCorners {
	border-radius: 3px 3px 3px 3px;
}
#setLabel {
    background-image: url("../../common/img/bg_btn_set.png") !important;
	color: #FFFFFF;
	float: left;
	border-radius: 3px 0 0 3px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=180, Color=#323232)";/*IE 8*/
	text-shadow: 0px 1px 1px #323232;/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=180, Color=#323232); /*IE 5.5-7*/
}
#prevLabel{
	margin-left: 10px;
	margin-right: -2px;
	border-radius: 3px 0 0 3px;
}
#nextLabel{
	margin-left: -4px;
}
.btn:hover{
	background-color: #e6e6e6;
	background-image: url("");
}
.btn_set {
    background-color: #999999;
    background-image: url("../../common/img/bg_btn_set.png") !important;
    background-position: center bottom !important;
    background-repeat: repeat-x !important;
    color: #FFFFFF;
    left: 3px;
    letter-spacing: 2px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #A2A2A2;
	border-image: none;
<!--	border-radius: 4px 4px 4px 4px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05); -->
	background-color: #FFFFFF;
	background-image: url("../../common/img/bg_btn.png"); /* ---- point to the root folder/img/ ----- */
	background-position: center bottom;
	background-repeat: repeat-x;
	color: #444444;
	text-shadow: 1px 1px 1px #FFFFFF;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 0;
	padding: 4px 12px;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	vertical-align: middle;
}

.bootstrapLabel {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F5F5F5;
    background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
    border-image: none;
    border-radius: 0 0 0 0;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: default;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    margin-left: -1px;
    padding: 4px 12px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
}
.noSelect{
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */

  /* No support for these yet, use at own risk */
  -o-user-select: none;
  user-select: none;          
}

/* ADDED BY TODD TO MATCH UP WITH OTHER ACTIVITIES */
.convex {
	border: solid thin #b8b8b8 !important;
	border-radius: 3px;
	-webkit-box-shadow:  0px 2px 4px 0px rgba(00, 00, 00, .20) !important;
    box-shadow:  0px 2px 4px 0px rgba(00, 00, 00, .20) !important;
	
	background: #fcfcfc !important; /* Old browsers */
	background: -moz-linear-gradient(top,  #fcfcfc 0%, #fcfcfc 25%, #e6e6e6 100%) !important; /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(25%,#fcfcfc), color-stop(100%,#e6e6e6)) !important; /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fcfcfc 0%,#fcfcfc 25%,#e6e6e6 100%) !important; /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fcfcfc 0%,#fcfcfc 25%,#e6e6e6 100%) !important; /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fcfcfc 0%,#fcfcfc 25%,#e6e6e6 100%) !important; /* IE10+ */
	background: linear-gradient(to bottom,  #fcfcfc 0%,#fcfcfc 25%,#e6e6e6 100%) !important; /* W3C */
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#e6e6e6',GradientType=0 );  IE6-8 */
	
	padding: 0px;
	margin-left: 10px;
}

.flight {
	width: 100px;
}