.activity_description {
    cursor: default;
    display: block;
    font-family: inherit;
    font-size: 12px;
    letter-spacing: 2px;
    margin-bottom: 20px;
    margin-left: 8px;
    margin-top: -20px;
	width: 890px;
}
.activity_hd {
    color: grey;
    cursor: default;
    display: block;
    font-family: inherit;
    font-size: 22px;
    margin-left: 7px;
    margin-top: 1px;
}
html body {
    background-color: #F5F5F5;
    color: #444444;
    font-family: Arial,Helvetica,sans-serif;
    letter-spacing: 2px;
    line-height: 20px;
    -moz-user-select: none;
    -webkit-user-select: none;
}

#main{
	font-family: Arial, Helvetica, sans-serif;
	position:relative;
}
.item_container{
	background: url("../../common/img/bg_dropbubble_50.png") repeat-x scroll center bottom #F5F5F5;
    border: 1px solid #BDBDBD;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 2px 4px #BDBDBD;
	height: 430px;
	width: 400px;
}
#item_container0{	
    left: 10px;
    position: absolute;	
}
#item_container1{
    left: 470px;
    position: absolute;
}
.qtext{
	position: relative;
	float: left;
	left:5px;
	top: 20px;	
	width:380px;
	height: 150px;
	
}
.qinput{
	position: relative;
	float: left;
	width:320px;
	height: 240px;
	margin-left:40px;
	
}
.qpic{
	padding: 20px 10px 0px 15px;
}
#videoContainer1, #videoContainer2{
    background-color: grey;
    height: 240px;
    width: 320px;
}
.videoScreen{
    width: 320px;
    height:240px;
    margin: 0px 0px 0px 0px;
}
.playBtn {
    position: absolute;
}

#playBtnVid1, #playBtnVid2{
    top: 220px;	
    position: absolute;
    left: -20px;
    cursor: pointer;
}

.qWord{
	position: relative;
	float: left;
	font-size: 18px;
	padding-bottom:7px;
	margin-bottom: 5px;

}
.dropdownMenu{
	position: relative;
	float: left;
}
.dropdownMenu select{
	font-size: 18px;
}
#submitBtn{
	visibility: hidden; 
}

#feedback {
    -moz-user-select: none;
    background: url("../../common/img/bg_dropbubble_50.png") repeat-x scroll center bottom #F5F5F5;
    border: 1px solid #BDBDBD;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 2px 4px #BDBDBD;
    display: block;
    left: 10px;
	top: 440px;
    max-height: 70px;
    min-height: 70px;
    padding: 20px;
    position: absolute;
    width: 822px;
	position: absolute;
    z-index: 100;
}
#fb_background{
	-moz-user-select: none;
    background: url("../../common/img/bg_dropbubble_50.png") repeat-x scroll center bottom #F5F5F5;
    border: 1px solid #BDBDBD;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 2px 4px #BDBDBD;
    display: block;
    left: 10px;
	top: 440px;
    max-height: 70px;
    min-height: 70px;
    padding: 20px;
	position: absolute;
	width: 822px;
}
#feedbackBtn {
    bottom: 10px;
    position: absolute;
    right: 10px;
}
#feedbackHeader {
    font-size: 20px;
    letter-spacing: 2px;
    margin-top: -10px;
}

.itemCompleted{
	border: 3px solid darkGrey;
	background-color: darkGrey;
}

.itemNotCompleted{
	border: 3px solid lightGrey;
	background-color: lightGrey;
}
#clickGuard{
	height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
    opacity: .3;
    background-color: lightgray;
}

#submitBtnDiv{
	left: 380px;
	width: 120px;
	position: absolute;
	top: 480px;
	z-index:5;

}

.submitBtnItem{
	margin-top: 2px;
	padding: 2px;
	width: 120px;
	font-size: 14px;
	text-align:center;
}



.noSelect{
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */

  /* No support for these yet, use at own risk */
  -o-user-select: none;
  user-select: none;          
}
#setTitle {
    background-image: url("../../common/img/bg_btn_set.png") !important;
    border-bottom-left-radius: 4px;
    border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
    border-top-left-radius: 4px;
    float: left;
    font-size: 14px;
    margin-left: 0;
    padding-left: 10px;
    padding-top: 7px;
	color: #FFFFFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
#setText {
    border-radius: 0 4px 4px 0;
    bottom: auto;
    font-size: 14px;
    height: 20px;
    left: -5px;
    padding-right: 7px;
    padding-top: 7px;
    position: relative;
    top: 0;
    width: 29px;
}
.btn_set {
    background-color: #999999;
    background-image: url("../../common/img/bg_btn_set.png") !important;
    background-position: center bottom !important;
    background-repeat: repeat-x !important;
    color: #FFFFFF;
    left: 3px;
    letter-spacing: 2px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #A2A2A2;
	border-image: none;
<!--	border-radius: 4px 4px 4px 4px; 
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05); -->
	background-color: #FFFFFF;
	background-image: url("../../common/img/bg_btn.png"); /* ---- point to the root folder/img/ ----- */
	background-position: center bottom;
	background-repeat: repeat-x;
	color: #444444;
	text-shadow: 1px 1px 1px #FFFFFF;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 0;
	padding: 4px 12px;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	vertical-align: middle;
}

.bootstrapLabel {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F5F5F5;
    background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
    border-image: none;
    border-radius: 0 0 0 0;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: default;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    margin-left: -1px;
    padding: 4px 12px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
}
#container_setDiv {
   background-color: transparent;
	position: absolute;
	top: 550px;
    cursor: default;
    height: 40px;
    left: 10px;
    margin: 10px;
    width: 895px;
}
#id_setDiv {
    background-color: transparent;
    cursor: default;
    height: 30px;
    top: 5px;
    width: 120px;
	float: left;
	margin-left: 570px;
}
.btn-group > .btn:first-child {
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
	margin-left: 0px;
	margin-right: -9px;
}
.btn-group > .btn:last-child, .btn-group > .dropdown-toggle {
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
}
.btn-group > .btn + .btn {
	margin-left: -1px;
}

.btn:hover, .btn:active, .btn.active {
	color: #333333;
	background-color: #e6e6e6;
 *background-color: #d9d9d9;
}
.btn_prev:hover, .btn_next:hover{
	background-color: #e6e6e6;
	background-image: url("");
}
.roundCorners {
	border-radius: 3px 3px 3px 3px;
}
.pull-right {
	float: right;
}
