<html>
<head>
<link type="text/css" href="temp.css" rel="stylesheet" />
<script type="text/javascript" src="../common/js/jquery-1.7.2.min.js"></script>
</head>
<body ontouchstart>
<div id="phone">
	<div id="topBar_container" class="noSelect">
		<img id="topBar" src="../assets/topBar.png"/>	
	</div>
	<div id="display" class="number">
		<div id="displayText">123456789</div>
	</div>
	<div class="clear"></div>
	<div id="num_1" class="number" onmousedown="digitPressed(1)"><div>1</div></div>
	<div id="num_2" class="number" onmousedown="digitPressed(2)"><div>2</div></div>
	<div id="num_3" class="number" onmousedown="digitPressed(3)"><div>3</div></div>
	<div id="num_4" class="number" onmousedown="digitPressed(4)"><div>4</div></div>
	<div id="num_5" class="number" onmousedown="digitPressed(5)"><div>5</div></div>
	<div id="num_6" class="number" onmousedown="digitPressed(6)"><div>6</div></div>
	<div id="num_7" class="number" onmousedown="digitPressed(7)"><div>7</div></div>
	<div id="num_8" class="number" onmousedown="digitPressed(8)"><div>8</div></div>
	<div id="num_9" class="number" onmousedown="digitPressed(9)"><div>9</div></div>
	<div id="num_star" class="number" ><div>*</div></div>
	<div id="num_0" class="number" onmousedown="digitPressed(0)"><div>0</div></div>
	<div id="num_pound" class="number" ><div>#</div></div>
	<div id="num_send" class="controlbtn number" onmousedown="callPressed()"><div>SEND</div></div>
	<div id="num_play" class="controlbtn number" onmousedown="playCall()">
		<img id="playBtn"  src="../../common/Library/images/btn_arrow_caro_right.png"/>	
	</div>
	<div id="num_end" class="controlbtn number" onmousedown="delClicked()"><div>DEL</div></div>
</div>
</body>
</html>
