<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

		<title>Enabling 14</title>

		<script src="../common/js/AC_OETags.js"></script>

		<script src="../common/js/xml2json.js"></script>
		<script src="../common/js/dli_activity.js"></script>

		<link type="text/css" href="../common/css/smoothness/jquery-ui-1.8.20.custom.css" rel="stylesheet" />
		<script type="text/javascript" src="../common/js/jquery-1.7.2.min.js"></script>
		<script type="text/javascript" src="../common/js/jquery-ui-1.8.20.custom.min.js"></script>
		<script type="text/javascript" src="../common/js/jquery.ui.touch-punch.js"></script>

		<script src="../common/js/dli_util.js"></script>
		<script src="../common/js/dli_audio.js"></script>

		<script src="Enabling_14.js"></script>

	</head>

	<body ontouchstart>
		<div id="flashAudioPlayerDiv"></div>
		<div id="htmlAudioPlayerDiv"></div>
		<div id="embeddedAudioPlayerDiv"></div>

		<h3 class="activity_hd">Enabling 14</h3>
		<div class="activity_description">
			Recognize the sounds then key them into the phone.
			Recognize the sounds then key them into the phone.
			Recognize the sounds then key them into the phone.
			Recognize the sounds then key them into the phone.
		</div>
		<div id="main">
			<div id="phone">
				<div id="topBar_container" class="noSelect">
					<img id="topBar" src="assets/topBar.png"/>
				</div>
				<div id="display" class="number">
					<div id="displayText">
						123456789
					</div>
				</div>
				<div id="num_1" class="number" onmousedown="digitPressed(1)">
					<div>
						1
					</div>
				</div>
				<div id="num_2" class="number" onmousedown="digitPressed(2)">
					<div>
						2
					</div>
				</div>
				<div id="num_3" class="number" onmousedown="digitPressed(3)">
					<div>
						3
					</div>
				</div>
				<div id="num_4" class="number" onmousedown="digitPressed(4)">
					<div>
						4
					</div>
				</div>
				<div id="num_5" class="number" onmousedown="digitPressed(5)">
					<div>
						5
					</div>
				</div>
				<div id="num_6" class="number" onmousedown="digitPressed(6)">
					<div>
						6
					</div>
				</div>
				<div id="num_7" class="number" onmousedown="digitPressed(7)">
					<div>
						7
					</div>
				</div>
				<div id="num_8" class="number" onmousedown="digitPressed(8)">
					<div>
						8
					</div>
				</div>
				<div id="num_9" class="number" onmousedown="digitPressed(9)">
					<div>
						9
					</div>
				</div>
				<div id="num_star" class="number" >
					<div>
						*
					</div>
				</div>
				<div id="num_0" class="number" onmousedown="digitPressed(0)">
					<div>
						0
					</div>
				</div>
				<div id="num_pound" class="number" >
					<div>
						#
					</div>
				</div>
				<div id="num_send" class="controlbtn number" onmousedown="callPressed()">
					<div>
						SEND
					</div>
				</div>
				<div id="num_play" class="controlbtn number" onmousedown="playCall()">
					<img id="playBtn"  src="../common/Library/images/btn_arrow_caro_right.png"/>
				</div>
				<div id="num_end" class="controlbtn number" onmousedown="delClicked()">
					<div>
						DEL
					</div>
				</div>
			</div>
			<div id="container">
				<div id="listContainer">

					<div id="selectableContainer">
						<div id="selectable"></div>
					</div>
				</div>
				<div id="mainContent" class="content" >

					<input id="scratchText" name="scratchPad" type="text" style="font-size:27px;width:240px" value="scratch area" />

					<div class="roundCorners" id="setDiv">
						<div class="bootstrapLabel btn_set noSelect" id="setTitle">
							SET:
						</div>
						<span class="bootstrapLabel btn_set_value noSelect" id="setText">1/3</span>
					</div>

					<span id="tl_phoneNum" class="roundCorners"></span>

					<div id="id_prev_next_div" class="btn-group">
						<div class="bootstrapLabel btn_prev noSelect" id="set_prev" title="prev" onclick="{prevClick();}">
							&lt; Prev
						</div>
						<div class="bootstrapLabel btn_next noSelect" id="set_next" title="next" onclick="{nextClick();}">
							Next &gt;
						</div>
					</div>

					<!-- end .content -->
				</div>
			</div>
			<div id="clickGuard" ></div>
		</div>
	</body>
</html>
